/* Bootstrap Menu Custom */

.inca-header-container {
    position: relative;
    text-align: center;
}

.inca-burger-menu {
    position: absolute;
    top: 35px;
    right: 14px;
    width: 20px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    -webkit-transition: transform 330ms ease-out;
    -moz-transition: transform 330ms ease-out;
    -o-transition: transform 330ms ease-out;
    transition: transform 330ms ease-out;
}

.inca-burger-menu.inca-menu-open {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.inca-line-menu {
    background-color: #292929;
    border-radius: 2px;
    width: 100%;
    height: 2px;
}

.inca-line-menu.inca-line-half {
    width: 50%;
}

.inca-line-menu.inca-first-line {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.inca-menu-open .inca-line-menu.inca-first-line {
    -webkit-transform: rotate(-90deg) translateX(3px);
    -moz-transform: rotate(-90deg) translateX(3px);
    -o-transform: rotate(-90deg) translateX(3px);
    transform: rotate(-90deg) translateX(3px);
}

.inca-line-menu.inca-last-line {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.inca-menu-open .inca-line-menu.inca-last-line {
    -webkit-transform: rotate(-90deg) translateX(-3px);
    -moz-transform: rotate(-90deg) translateX(-3px);
    -o-transform: rotate(-90deg) translateX(-3px);
    transform: rotate(-90deg) translateX(-3px);
}


/* Menu overlay */

.inca-header-overlay .inca-burger-menu,
.inca-fixed-sidebar + .inca-burger-menu {
    display: block;
    position: fixed;
    flex-direction: inherit;
    justify-content: inherit;
    width: 50px;
    height: 47px;
    top: 30px;
    right: 15px;
    background: #c5a47e;
    padding: 15px;
    z-index: 99999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.inca-header-overlay .inca-burger-menu:hover {
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.4);
}

.inca-header-overlay .inca-burger-menu > span,
.inca-fixed-sidebar + .inca-burger-menu > span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 17px;
    -webkit-transition: transform 330ms ease-out;
    -moz-transition: transform 330ms ease-out;
    -o-transition: transform 330ms ease-out;
    transition: transform 330ms ease-out;
}

.inca-header-overlay .inca-line-menu,
.inca-fixed-sidebar + .inca-burger-menu .inca-line-menu {
    background-color: #fff;
}

.inca-header-overlay .inca-burger-menu.inca-menu-open,
.inca-fixed-sidebar + .inca-burger-menu.inca-menu-open {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.inca-header-overlay .inca-menu-open > span,
.inca-fixed-sidebar + .inca-menu-open > span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.inca-fixed-sidebar .inca-menu-social-media .social a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: transparent;
    border-radius: 50%;
    color: #999;
    font-size: 18px;
    margin: 0 2px 0 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.inca-fixed-sidebar .inca-menu-social-media .social a:hover {
    color: #fff;
}

.inca-fixed-sidebar .inca-menu-social-media .social a::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background-color: #c5a47e;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
    transition: 0.4s;
}

.inca-fixed-sidebar .inca-menu-social-media .social a:hover::before {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.inca-fixed-sidebar .inca-menu-social-media .social a i {
    position: relative;
}

.inca-menu-copyright {
    text-align: center;
}

.inca-menu-copyright p {
    font-size: 13px;
    font-weight: 400;
    color: #999;
}

.inca-menu-copyright p a {
    color: #c5a47e;
}

@-webkit-keyframes menuFadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes menuFadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(40px, 0, 0);
        transform: translate3d(40px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* Fixed sidebar menu */

.body-fixed-sidebar {
    overflow-x: hidden;
}

.inca-fixed-sidebar {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 9999999;
    overflow-y: auto;
    background-color: #292929;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.inca-sidebar-left {
    left: 0;
/*    border-right: 1px solid #292929;*/
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

.inca-sidebar-left.inca-fixed-sidebar-open {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.inca-fixed-sidebar .inca-header-container {
/*
    display: flex;
    flex-wrap: wrap;
*/
    height: 100%;
    padding: 0 30px;
}

.inca-fixed-sidebar + .inca-burger-menu {
    z-index: 9999999;
}

.inca-sidebar-left + .inca-burger-menu {
    top: 0;
    right: inherit;
    left: 0;
}

.inca-fixedsidebar-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.inca-side-content {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;

}


.inca-fixed-sidebar .logo {
    display: none;
    text-align: center;
    padding: 45px 0 45px 0px;
}



.inca-side-content > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    padding: 0 50px;
    z-index: 99999;
    text-align: center;
    background-color: #c5a47e;
    -webkit-box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 12px -2px rgba(0, 0, 0, 0.15);
}

.inca-side-content > .logo img {
    max-width: inherit;
    max-height: 36px;
    width: auto;
}

.inca-fixed-sidebar .logo h1 {
    font-weight: 400;
    font-size: 75px;
    color: #c5a47e;
}

.inca-fixed-sidebar .logo a span {
    display: block;
    margin-top: 0px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    color: #999;
    font-weight: 400;
    letter-spacing: 10px;
}

.inca-footer-logo {
    padding: 0 0 30px 0;
}

.inca-footer-logo img {
    max-width: inherit;
    max-height: 55px;
    width: auto;
}

.inca-fixed-sidebar-open ~ .inca-fixedsidebar-bg-overlay {
    visibility: visible;
    opacity: 1;
}

.inca-fixed-menu-wrap {
    width: 100%;
}


/* Navigation menu */

.inca-menu-fixed {
    padding-top: 90px;
    text-align: left;
}

.inca-menu-fixed ul li {
    position: relative;
}

.inca-menu-fixed ul li a {
    font-family: 'Rambla', sans-serif;
    display: block;
    padding-right: 17px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.inca-menu-fixed > ul > li.current-menu > a,
.inca-menu-fixed ul li:hover > a {
    color: #c5a47e !important;
}

.inca-menu-fixed > ul {
    margin-bottom: 40px;
}

.inca-menu-fixed > ul > li {
    border-bottom: 1px solid #323232;
    margin: 10px 0 10px 0;
    padding: 0 0 10px 0;
}

.inca-menu-fixed > ul > li:last-child {
    margin-bottom: 0;
}

.inca-menu-fixed > ul > li > a {
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    color: #999;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.inca-menu-fixed > ul ul {
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.inca-menu-fixed > ul ul.submenu-collapse {
    opacity: 1;
}

.inca-menu-fixed > ul ul li {
    margin-bottom: 6px;
}

.inca-menu-fixed > ul ul li:last-child {
    margin-bottom: 0;
}

.inca-menu-fixed > ul ul a {
    position: relative;
    padding-left: 18px;
    font-size: 15px;
    font-style: italic;
    color: #818181;
}

.inca-menu-fixed > ul ul a::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 4px;
    width: 1px;
    height: 12px;
    background-color: #d1d1d1;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.inca-menu-fixed > ul ul a:hover {
    padding-left: 24px;
}

.inca-menu-fixed > ul > li > ul {
    padding: 27px 0 15px;
}

.inca-menu-fixed > ul > li > ul ul {
    padding-top: 6px;
}

.inca-menu-fixed > ul > li > ul > li ul {
    padding-left: 18px;
}

.inca-menu-fixed .overlay-dropdown-plus {
    top: -1px;
    right: -7px;
    opacity: 1;
}

.inca-menu-fixed > ul ul .overlay-dropdown-plus {
    top: -3px;
}

.inca-menu-fixed.submenu-no-separate > ul ul a::before {
    display: none !important;
}

.inca-menu-fixed.submenu-no-separate > ul ul a,
.inca-menu-fixed.submenu-no-separate > ul > li > ul > li ul {
    padding-left: 12px;
}

.inca-menu-fixed.submenu-no-separate > ul ul a:hover {
    padding-left: 18px;
}


/* Menu icons */

.inca-menu-fixed .inca-menu-icon {
    margin-right: 5px;
}


/* Media queries for responsive design */

@media (min-width: 768px) {
    .inca-header .logo {
        float: left;
        padding: 30px 40px 30px 0;
    }

    .inca-menu {
        clear: both;
    }

    .inca-header-shadow-wrapper:after {
        -webkit-box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 40px -5px rgba(0, 0, 0, 0.1);
    }

    .inca-header-overlay .logo {
        left: 30px;
    }

    .inca-header-overlay .inca-burger-menu {
        right: 30px;
    }
}

@media (min-width: 1200px) {

    /* Viewport Breakpoint */
    .inca-header-container {
        height: 90px;
    }

    .inca-header-overlay .inca-header-container {
        height: auto;
    }

    .inca-header .logo {
        position: relative;
        padding: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .inca-header .logo img {
        max-width: inherit;
        max-height: 90px;
        width: auto;
    }

    .inca-burger-menu {
        display: none;
    }

    /* Header sticky */
    .inca-header.sticky {
        position: fixed;
        width: 100%;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: stickyTransition;
        animation-name: stickyTransition;
    }

    .inca-header.sticky .inca-header-container {
        height: 70px;
    }

    /* Center menu */
    .inca-header.center-menu-1 .inca-header-container > .logo {
        display: none;
    }

    .inca-header.center-menu-2 .inca-header-container {
        height: auto;
    }

    /* Menu overlay */
    .inca-header-overlay .inca-burger-menu {
        top: 40px;
        right: 40px;
    }

    /* Fixed sidebar menu */
    .inca-fixed-sidebar {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
    }

    .inca-side-content > .logo,
    .inca-fixed-sidebar + .inca-burger-menu,
    .inca-fixedsidebar-bg-overlay {
        display: none;
    }

    .inca-fixed-sidebar .logo {
        display: block;
    }

    .inca-fixed-sidebar .logo img {
        max-width: inherit;
        max-height: 50px;
        width: auto;
        margin: 0 20px;
    }

    .inca-side-content {
        width: calc(100% - 300px);
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
        float:right;
        -webkit-transform: translateX(0%) !important;
        -moz-transform: translateX(0%) !important;
        -o-transform: translateX(0%) !important;
        transform: translateX(0%) !important;
    }

    .inca-sidebar-left ~ .inca-fixedsidebar-bg-overlay + .inca-side-content {
        margin-left: auto;
    }

    .inca-sidebar-left,
    .inca-sidebar-right {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
        z-index: auto;
    }

    .inca-menu-fixed {
        padding-top: 0;
        padding-bottom: 30px;
    }
}
