.box.box-bordered.box-color.blue .box-content {
    border-color: #368ee0 !important;
}
.box.box-bordered.box-color .box-content {
    border-color: #368ee0;
}
.box.box-bordered .box-content {
    border: 2px solid #ddd;
    border-top: 0;
}
.box .box-content {
    *zoom: 1;
    padding: 20px;
    background: #fff;
}

.dd-item{
    position:relative;
}
.dd-handle{
    position:absolute;
}

.servicesView{
    margin: -2px 0 0 0;
    padding: 0 !important;
}
.dd-item, .dd-placeholder{
    display: block;
    font-size: 14px;
    min-height: 50px;
    border: 1px solid #ddd;
    margin: 3px 0;
}

.dd-item div, .dd-placeholder div{
    height: 100%;
}
.dd-item .name, .dd-placeholder .name{
    float: left;
    padding: 14px 10px;
}

.dd-item.service .name, .dd-placeholder.service .name{
    float: left;
    padding: 14px 10px;
}

.dd-item.category, .dd-placeholder.category{
    background: aliceblue;
}

.dd-item.service, .dd-placeholder.service{
    background: white;
}

.dd-item .name small , .dd-placeholder .name small {
    font-style: italic;
    font-size: 12px;
    color: #afafaf;
}

.dd-item .name i , .dd-placeholder .name i {
    padding-right: 10px;
}

.dd-list{
    position: relative;
    margin-top: 53px;
    margin-bottom: 20px;
}

.dd-item .actions, .dd-placeholder .actions{
    display: inline-block;
    float: right;
    padding: 10px;
    text-align: right;
}
.setActivity{
    width: auto;
}

.dd-item ol, .dd-placeholder ol{
    margin-left: 20px;
}

.dd{
    width: 100%;
    padding: 10px 50px;
}
.dd-item{
    cursor: pointer;
}

.dd-item > button{
    display:none;
}

.dd-placeholder{
    display: block !important;
    border: 1px dashed #368ee0;
    background: rgba(211, 255, 255, 0.27);
    width: 100%;
}

.actions{
    position: absolute;
    top: 0;
    right: 0;
}

.category .dd-placeholder{
    background: white;
}

.dd li, .dd ol {
    list-style-type: none;
    padding: 0 !important;
}
.box.box-bordered.box-color.blue .box-content {
    border-color: #368ee0 !important;
}
.dd li, .dd ol {
    list-style-type: none;
    padding: 0 !important;
}
.servicesView {
    margin: -2px 0 0 0;
    padding: 0 !important;
}