.status0Table{
    background-color:#bedbff !important;
}
.status0Seat{
    background-color:#7cb1ff !important;
}
.status0Border{
    border-color:#7cb1ff !important;
    color:#7cb1ff !important;
}
.status0Border:hover{
    background-color:#7cb1ff !important;
    color:white !important;
}
.status0Wrapper{

}

.status1Table{
    background-color:#c4fdbd !important;
}
.status1Seat{
    background-color:#61d66f !important;
}
.status1Border{
    border-color:#61d66f !important;
    color:#61d66f !important;
}
.status1Border:hover{
    background-color:#61d66f !important;
    color:white !important;
}
.status1Wrapper{

}

.status2Table{
    background-color:#ffc0c0 !important;
}

.status2Seat{
    background-color: #ff6c6c !important;
}
.status2Border{
    border-color:#ffc0c0 !important;
    color:#ffc0c0 !important;
}
.status2Border:hover{
    background-color:#ffc0c0 !important;
    color:white !important;
}
.status2Wrapper{

}

.status3Table{
    background-color:#fff1c0 !important;
}
.status3Seat{
    background-color:#ffe16c !important;
}
.status3Border{
    border-color:#ffe16c !important;
    color:#ffe16c !important;
}
.status3Border:hover{
    background-color:#ffe16c !important;
    color:white !important;
}
.status3Wrapper{

}
.emptyBorder{
    border-color:#bfbfbf !important;
    color:#bfbfbf !important;
}
.emptyBorder:hover{
    background-color:#bfbfbf !important;
    color:white !important;
}


.walkinTable{
    background-color:#d09cff !important;
}
.walkinSeat{
    background-color:#aa4aff !important;
}
.walkinBorder{
    border-color:#aa4aff !important;
    color:#aa4aff !important;
}
.walkinBorder:hover{
    background-color:#ffe16c !important;
    color:white !important;
}
.walkinWrapper{

}


.blockedTable{
    background-color:#676767 !important;
    color:white !important;
}

.blockedTable span{
    /*background-color:#676767 !important;*/
    color:white !important;
}
.blockedSeat{
    background-color:#585858 !important;
    color:white !important;
}
.blockedBorder{
    border-color:#61d66f !important;
    color:#fefefe !important;
}
.blockedBorder:hover{
    background-color:#61d66f !important;
    color:#fefefe !important;
}
.blockedWrapper{

}




